/* Styles for the Secure@Home Webinterface */

/*Foundation Korrekturen*/
.top-bar,
.top-bar-section ul li,
.top-bar-section .has-form,
.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: transparent;
}

/* Styles */

html {
	overflow-y: scroll;
}

body {
	background-color: #F2F2F2;
}

body, 
html, 
.panel li {
	color: #262626;
}

#maincontent a,
#footer a {
	color: #730e0e;
	text-decoration: underline;
}

#maincontent a:hover,
#footer a:hover {
	text-decoration: none;
}

#header {
	background-color: #B61717;
}

.panel {
	background-color: #F2F2F2;
}

.success {
	background-color: #43ac6a;
	color: #fff;
}

.alert,
.button.alert {
	color: #fff;
	background-color: #730E0E;
}

#maincontent a.alert {
	color: #fff;
	text-decoration: none;
}

.fullWidth {
	width: 100%;
}

h1 {
	color: #E3DDBF;
}

input[type="submit"] {
	color: #fff;
	background-color: #730E0E;
	border: none;
	padding-top: 0.4125rem;
	padding-bottom: 0.4125rem;
	width: 100%;
}

#maincontent {
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #fff;
}

#maincontent .row {
	margin-top: 20px;
}


h4 {
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 3px;
}

#footer {
	font-size: 0.8rem;
	font-style: italic;
	background-color: #F2F2F2;
	padding: 10px 0px;
}
